.userIcoBtn span {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.userProf {
    background-color: #ffffff;
    color           : #234e8f;
    font-weight     : bold;
    border-radius   : 50%;
    width           : 30px;
    height          : 30px;
    font-size       : 13px;
}