<div class="card mt-4">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
        <p>Your role is: <strong>{{user.role === 'Admin' ? 'Manager' : 'Worker'}}</strong>.</p>
        <p *ngIf="user.role === 'Admin'">This page can be accessed by <u>authenticated Manager</u>.</p>
        <p *ngIf="user.role !== 'Admin'">This page can be accessed by <u>authenticated Worker</u>.</p>
        <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul>
    </div>
</div>